body{
    margin: auto;
    background: rgba(128,134,139,.2);;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/************************* Navigation bar ***********************/
nav {
    background-color: #fff;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    padding-right: 10%;
    overflow: hidden;
}

nav li {
    float: right;
}

nav li a {
    display: block;
    text-align: center;
    padding: 20px 16px;
    padding-bottom: 10px;
    text-decoration: none;
    color: #6d6d6d;
}
  
nav li a:hover {
    border-bottom: 5px solid #d7d7d7;
}
/************************ gsoc logo ******************************/
#gsoc-logo{
    text-align: center;
}
#gsoc-logo h3{
    margin: 0;
    color: #787878;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
}
#gsoc-logo img{
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 400px;
    display: block;
}
/*********************************************************report body **********************************************/
.report-body{
    margin:  3% 20%;
    padding: 40px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    border-radius: 2px;
    background-color: #fff;
    font-family: 400 24px/32px Sans,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;
    color: #6c6a74;
}
.report-body h3{
    color: #6d6d6d;
    font-size: 24px;
    margin: 48px 0 24px;
}
.report-body h4{
    font-weight: normal;
}
.report-body img{
    width: 80%;
}                                                                            
.report-body p{
    text-align: justify;
}

/************************************************ Project title and author name ************************************/
#project-title{
    margin: 20px 0 0 0;
    color: #6d6d6d;
}
#author-name{
    margin: 0 0 30px 0;
    font-size: 14px;
    color: #6c6a74;
    font-weight: normal;
}

/******************************************************** About JPF *****************************************************/
#about-jpf{
    margin-bottom: 40px;
}
#about-jpf img{
        height: 18px;
        width: 18px;
        display: inline-block;
}
#about-jpf h3{
    margin-bottom: 10px;
    display: inline-block;
}
#about-jpf div a{
    text-decoration: none;
    font-size: 18px;
    color: #6d6d6d;
}
#about-jpf p a{
    text-decoration: none;
    color: #6c6a74;
    font-weight: bold;
}

/********************************************************** Overview *****************************************************/
#overview{
    margin-bottom: 40px;
}
#overview div p{
    margin-bottom: 2px;
}
#overview div ul{
    padding-left: 30px;
    list-style: disc outside;
    margin: 0;
}

/********************************************************* Work summary **************************************************/
#work-summary{
    margin-bottom: 40px;
}

/********************************************************** Explanation ****************************************************/
.explanation{
    margin: 10px;
    padding:10px 15px;
    background-color: #e7e7e7;
    color: #6c6a74;
}
.explanation div{
    display: block;
}
.explanation img{
    height: 20px;
    width: 20px;
}

/************************************************************* My work  ****************************************************/
.my-work{
    margin-left: 10px;
    padding: 15px;
    border-left:5px #474747 solid;
}
.my-work p{
    margin: 0;
}
.my-work ul div{
    padding-left: 30px;
    text-align: justify;
}

/************************************************************ Pull request **************************************************/
#pull-requests{
    margin-bottom: 40px;
}
#pull-requests .pr{
    margin:  3% 0;
    padding: 10px 20px 20px 20px;
    box-shadow: 0 1px 2px 0 rgba(190, 190, 190, 0.3), 0 1px 3px 1px rgba(60,64,67,.15);
    border-radius: 2px;
}
.pr-link{
    text-decoration: none;
    color: #6c6a74;
    font-weight: bold;
}
.pr-link h4{
    margin-top: 0;
    margin-bottom: 3px;
    font-weight: bold;
    color: #0F79D0;
}
.pr-link:hover{
    text-decoration: underline;
    text-decoration-color: #0F79D0;
}
#pull-requests .pr .my-work {
    margin-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
}
#pull-requests .pr .my-work p{
    line-height: 1.5;
    margin-bottom: 10px;
}
#pull-requests .pr .my-work p:last-child{
    margin-bottom: 0;
}

/***********************************************/
.issues {
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: #dadce0 1px solid;
}
.issues label{
    font-size: 12px;
    font-weight: 800;
    color: #9e9e9e;
}
.issues a {
    text-decoration: none;
    border: white 0 solid;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(190, 190, 190, 0.3), 0 1px 3px 1px rgba(190, 190, 190, 0.3);
    /* box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15); */
    padding: 2px 14px;
    margin-left: 5px;
    height: 20px;
    font-size: 12px;
    background-color: #bffdd175;
}

.no-issues {
    text-decoration: none;
    border: white 0 solid;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(190, 190, 190, 0.3), 0 1px 3px 1px rgba(190, 190, 190, 0.3);
    padding: 2px 14px;
    margin: 0 5px 0 5px;
    height: 20px;
    font-size: 12px;
    background-color: #f6f8fa;
}

/***************************************************** Text and block highlighting ******************************************/
.highlight-text {
    background-color: #f6f8fa;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    font-weight: 500;
    color: #696969;
}
.highlight-block {
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
    background-color: rgba(27,31,35,.05);
    border-radius: 5px;
    font-weight: 500;
    color: #576474;
}
.bold-text {
    font-weight: 600;
}
/**************************************************************** footer ****************************************************/
footer{
    border-bottom: 1px solid #dadce0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 18px 0;
    background-color: #fff;
}
.footer-content .column{
    float: left;
    margin: 10px 50px;
    text-align: center;
}
.footer-content .column a{
    float: left;
    padding: 10px 30px;
    text-decoration: none;
    font-family: 400 24px/32px Sans,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;
    color: #202124;
}
.footer-content .column a img{
    height: 20%;
    width: 20%;
    margin-bottom: 10px;
}
.footer-content .column a #gmail{
    height: 30%;
    width: 30%;
    margin: 5px 0 10px 0;
}
.footer-content .column a label:hover{
    color: #0F79D0;
}
