body{
    margin: auto;
}
/************************* Navigation bar ***********************/
nav ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    padding-right: 10%;
    overflow: hidden;
}

nav li {
    float: right;
}

nav li a {
    display: block;
    text-align: center;
    padding: 20px 16px;
    padding-bottom: 10px;
    text-decoration: none;
    color: #6d6d6d;
}
  
nav li a:hover {
    border-bottom: 5px solid #d7d7d7;
}

/************************* Profile pic *************************/
.profile{
    
    text-align: center;
}

#profile-img img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: block;
    width: 200px;
    border-radius: 100px;
}

#name h2{
    margin: auto;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #6E6D6D;
    font-size: 40px;
}

#profile-details h3{
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #959191;
    font-size: 30px;
}
/************************** footer ***********************************/
footer{
    position:absolute;
    bottom:0;
    width: 100%;
    height: 100px;
    background-color: #e7e7e7;
}
.footer-content{
    margin:0 10% 0 10%;
    text-align: center;
}
.footer-content div{
    margin-right: 10%;
    display: inline-block;
}
.footer-content img{
    height: 30px;
    width: 30px;
    margin:20px;;
}
